.container.mt-5.d-flex.justify-content-center
  .card.p-3
    .d-flex.align-items-center
      .image
        = avatar(:thumb)
      .ms-3
        .d-flex.justify-content-between
          %div
            %h2.mb-0.mt-0= current_user.name
            %span= current_user.email
          %div
            = link_to "Редагувати", edit_profile_path, class: "btn btn-dark"
        .p-2.mt-2.bg-primary.d-flex.justify-content-between.rounded.text-white.stats
          .d-flex.flex-column
            %h4.text-muted= "Статті"
            %span.text-center.display-6= current_user.articles.count
          .d-flex.flex-column.ms-4
            %h4.text-muted= "Підписники"
            %span.text-center.display-6= "38"
          .d-flex.flex-column.ms-4
            %h4.text-muted= "Рейтинг"
            %span.text-center.display-6= "5"

:css
  .card{
    width: 60%;
    border: none;
    border-radius: 10px;
    background-color: #fff;
  }
  .stats{
    background: #f2f5f8 !important;
    color: #000 !important;
  }
  .number1{
    font-weight:500;
  }
  .number2{
    font-weight:500;
  }
  .number3{
    font-weight:500;
  }