.row
  .col-8.offset-2.mt-4
    = form_with(model: article) do |form|
      .mb-3.form-floating
        = form.text_field :title, class: 'form-control', placeholder: 'Заголовок'
        = form.label :title, 'Заголовок'
      .mb-3
        = form.rich_text_area :content, class: 'form-control'
      .actions
        = form.submit 'Зберегти', class: 'btn btn-primary'
