%nav.navbar.navbar-dark.bg-dark.navbar-expand-md
  = link_to "УАД Проєкт", root_path, class: "ms-4 navbar-brand h1 mb-0"
  %button.navbar-toggler{ type: "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNav", "aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Розгорнути" }
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        = link_to "Статті", articles_path, class: "nav-link"
  - if current_user.present?
    %ul.navbar-nav
      %li.nav-item
        = link_to "Написати статтю", new_article_path, class: "me-4 nav-link"
      .dropdown.me-4
        %button.btn.btn-secondary.dropdown-toggle{ type: "button", id: "dropdownMenuButton", "data-bs-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" }
          = current_user.name
        .dropdown-menu{ "aria-labelledby" => "dropdownMenuButton" }
          = button_to "Вийти", destroy_user_session_path, method: :delete, class: "dropdown-item"
  - else
    .d-flex
      = link_to "Зареєструватись", new_user_registration_path, class: "btn btn-light me-4"
      = link_to "Увійти", new_user_session_path, class: "btn btn-light me-4"