!!!
%html
  %head
    %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title UadProject
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "actiontext", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = render partial: 'layouts/navigation'
    - if notice.present?
      %p.notice= notice
    - if alert.present?
      %p.alert= alert
    = yield
